.trow:hover {
    transform: scale(1.05);
    transition: .3s;
    box-shadow: 5px 10px .3 !important;
    background-color: rgb(209, 209, 209);
    box-shadow: 5px 10px 30px #0000004d;
    border-radius: 50px;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: 	rgb(112,112,112);
}