*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* Defines 1rem */
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.7;
    color: #8b8b8b;
}

.arrayCntr {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(to right, rgb(231, 231, 231),rgb(128, 128, 128));
    background-size: cover;
    height: 50rem;
    width: 100vw;
}

.drop-list-item {
    cursor:pointer;
    margin: .8rem;
    text-transform: uppercase;
}

.drop-list-item:last-child {
    margin: 0;
}

.drop-list-item:hover {
    transform: scale(1.5);
    transition: .3s;
    color: black;
}

.drop-list-item:active {
    transform: scale(1.2);
    transition: .2s;
    color: black;
}

.list-item-cntr {
    margin-right: 4rem;
    font-size: 1.9rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.list-select{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    margin-top: 3rem;
    color: rgb(43, 43, 116);
}

.list-item {
    cursor: pointer;
}

.list-item:hover {
    transform: scale(1.5);
    transition: .3s;
    color: red;
}

.header-container {
    position: relative;
    z-index: -2;
}

.team-images {
    position: absolute;
}

.header-title {
    text-transform: uppercase;
    letter-spacing: 5rem;
    margin-left: 5rem;
    animation: fadeInTop;
    animation-duration: 1s;
    font-size: 12.5rem;
    color: #f3f3f3;
}

.header-description {
    text-transform: uppercase;
    animation: fadeInBottom;
    animation-duration: 1s;
    font-size: 3rem;
    letter-spacing: 1.1rem;
    color: #f3f3f3;
}

.text-center {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-left: .5rem;
}

.main {
    z-index: 2;
}

.dropdown-list {
    list-style: none;
    font-size: 1.6rem;
}

.btn {
    z-index: 2;
    font-size: 2rem;
    letter-spacing: .2rem;
    display: inline-block;
    
    padding: 1rem 2rem 0 2rem;
    text-transform: uppercase;
    transition: all .2s;    
}

.live {
    color: rgb(88, 88, 88);
}

.live-active-btn {
    color: rgb(206, 78, 78);
    
}

.results, .schedule {
    color: rgb(43, 43, 116)
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-4px);
}

.btn:active {
    transform: translateY(-1px);
}

.btn-active {
    color: green;
    border-bottom: 2px solid green;
    transform: translateY(-4px);    
}

.teamArrayImg {
    width: 10.8rem;
    opacity: .05;
}

.teamArrayImg:active {
    animation: fadeInImage;
    animation-duration: 1s;
}

.schedule-container {
    display: inline-block
}

@keyframes fadeInImage {
    0% {
        opacity: .05
    }

    100% {
        opacity: .8
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-1rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(1rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}