*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* Defines 1rem */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.7;
    color: #8b8b8b;
}

.arrayCntr {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(to right, rgb(231, 231, 231),rgb(128, 128, 128));
    background-size: cover;
    height: 50vh;
}

.header-container {
    position: relative;
}

.team-images {
    position: absolute;
}

.header-title {
    text-transform: uppercase;
    letter-spacing: 1.75rem;
    animation: fadeInTop;
    animation-duration: 1s;
    font-size: 12.5rem;
    color: #f3f3f3;
}

.header-description {
    animation: fadeInBottom;
    animation-duration: 1s;
    font-size: 3rem;
    letter-spacing: 1.1rem;
    color: #f3f3f3;
}

.text-center {
    text-align: center;
}

.buttons {
    display: table;
    margin: 0 auto;
}

.buttons div:first-child {
    margin-left: 0;
}

.btn {
    font-size: 2rem;
    margin-left: 5rem;
    letter-spacing: .2rem;
    display: inline-block;
    
    padding: 1rem 2rem;
    text-transform: uppercase;
    transition: all .2s;    
}

.live {
    color: rgb(206, 78, 78);
}

.results, .schedule {
    color: rgb(43, 43, 116)
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-4px);
}

.btn:active {
    transform: translateY(-1px);
}

.teamArrayImg {
    width: 10rem;
    opacity: .05
}

.teamArrayImg:active {
    animation: fadeInImage;
    animation-duration: 1s;
}

@keyframes fadeInImage {
    0% {
        opacity: .05
    }

    100% {
        opacity: .8
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-1rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(1rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}